<html>
<head>
    <meta>
    <title>Student</title>
</head>
<body>

    <form action="" method="post">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name">
        </p>
        <p>
            <label for="password">Age</label>
            <input type="text" name="age">
        </p>
        <p>
            <label for="gender">Gender</label>-
            <select name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select> 
        </p>

        <p>
            <input type="submit">
        </p>
    </form>

<a href="http://gramenerexercise.herokuapp.com/students">View all Student List</a>
</body>
</html>